astroid==2.0
dj-database-url==0.4.2
Django==2.0.2
django-bootstrap3==9.1.0
django-jquery==3.1.0
gunicorn==19.7.1
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
newrelic==2.104.0.86
pep8==1.7.1
psycopg2-binary==2.7.4
pudb==2017.1.4
Pygments==2.2.0
pylint==2.0.0
pytz==2018.3
six==1.11.0
urwid==2.0.1
whitenoise==3.3.1
wrapt==1.10.11
