<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
  Dodaj nowe wyposażenie
</button>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dodaj nowe wyposażenie</h4>
      </div>
      <div class="modal-body">
        {% load bootstrap3 %}

        <form action="/equipements/" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Dodaj
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Anuluj
                </button>
            {% endbuttons %}
        </form>
      </div>
    </div>

  </div>
</div>
