{% extends "base.html" %}

{% block content %}
    <div id='calendar'></div>

    <script>
      $(document).ready(function() {
        $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,basicWeek,basicDay'
          },
          navLinks: true, // can click day/week names to navigate views
          eventLimit: false, // allow "more" link when too many events
          events: [
            {% for evnt in events %}
            {
              title: '{{ evnt.name }}',
              url: 'http://google.com/',
              start: '{{ evnt.start_date|date:'Y-m-d H:i' }}',
              end: '{{ evnt.end_date|date:'Y-m-d H:i' }}'
            },
            {% endfor %}
          ]
        });
      });
    </script>
{% endblock content %}
